
    .icon {
      background-image: url('/assets/images/sprites/sprite-56d39cb6.svg');
    }

  .icon--clear-view-escapes {
    width: 142.4px;
    height: 59.53px;
    background-positin: 99.81684981684981% 0;
  }


  .icon--comment {
    width: 64px;
    height: 64px;
    background-positin: 80.54187192118226% 66.975%;
  }


  .icon--facebook {
    width: 21.23px;
    height: 42.01px;
    background-positin: 98.71426343115627% 19.712573264015365%;
  }


  .icon--fire {
    width: 56px;
    height: 64px;
    background-positin: 93.47826086956522% 21.260714285714286%;
  }


  .icon--globe {
    width: 64px;
    height: 64px;
    background-positin: 80.54187192118226% 44.11785714285714%;
  }


  .icon--instagram {
    width: 42.01px;
    height: 42.01px;
    background-positin: 88.50206780532255% 83.29083744494851%;
  }


  .icon--mail {
    width: 64px;
    height: 48px;
    background-positin: 0 100%;
  }


  .icon--rain {
    width: 64px;
    height: 64px;
    background-positin: 96.30541871921183% 66.975%;
  }


  .icon--sprite.css-5b288de5 {
    width: 327px;
    height: 296px;
    background-positin: 0 0;
  }


  .icon--star {
    width: 64px;
    height: 64px;
    background-positin: 96.30541871921183% 44.11785714285714%;
  }


  .icon--twitter {
    width: 51.78px;
    height: 42.06px;
    background-positin: 78.18851322270575% 83.30463005895211%;
  }


  .icon--wifi {
    width: 60px;
    height: 64px;
    background-positin: 79.7560975609756% 21.260714285714286%;
  }


  .icon--youtube {
    width: 34.75px;
    height: 42px;
    background-positin: 96.67777139574957% 83.28807947019868%;
  }
